/* 
	style.css (for github pages) 
	Written by Daigo Fujiwara (@DaigoFuji)
	Date: Sept 2013
*/

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playball','Helvetica Neue', Helvetica, Arial, sans-serif; 
}

/* space above humberger */
.toggle-topbar {
	padding-top:1em;
}

/* list align issue */
.disc > li, .square > li, .circle > li, ol > li {
    list-style-position: inside;
}

/* side bar */
.side-nav li a.button {
	color:#eee;
}

/* utility */
.quiet {
	color:#aaa;
}

/* footer */

footer {
	background-color: #ddd;
	margin-top: 50px;
	padding: 30px 0;
}
.copyright {
	font-size: .75em; /* 12px */
}

/* 
	Media queries. 
	Always use min-width and declare mobile first, override with desktop 
*/

@media only screen and (min-width: 48em){
	/* when the topbar expands */

}

@media only screen and (min-width: 58.75em) {
	/* wider screen */

}
