<!-- Navigation -->
		<li>
			<a href="http://daigofuji.github.io/bbclub-font/" class="small button">Home <i class="icon-home"></i></a>
		</li>
		<li>
			<a href="https://github.com/daigofuji/bbclub-font/tree/gh-pages" class="small button">GitHub <i class="icon-github"></i></a>
		</li>
		<li>
			<a href="https://github.com/daigofuji/bbclub-font/issues" class="small button">Issues <i class="icon-comment"></i></a>
		</li>
		<li>
			<a href="https://github.com/daigofuji/bbclub-font/wiki" class="small button">Wiki <i class="icon-edit"></i></a>
		</li>